<ion-view view-title="Adicionar Cartão">
    <ion-content padding="true" class="has-header">
      <div class="padding">
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              Nome no cartão
              <input type="text" placeholder="Joao da Silva" ng-model="cartao.nome" ng-required="true">
            </label>
          </div>
          <div class="item item-input-inset">
            <label class="item-input-wrapper col col-66">
              Número do cartão
            <input type="text" placeholder="xxxx xxxx xxxx xxxx" ng-model="cartao.numero" ng-required="true">
          </label>
          <div class = "col"></div>
          <label class="item-input-wrapper col col-25">
              CVC <br>
            <input type="text" placeholder="000" ng-required="true">
            </label>
          </div>
          <div class="item item-input-inset">
            <label class="item-input-wrapper col col-25">
              Mês
              <input type="text" placeholder="02" ng-model="cartao.mes" ng-required="true">
            </label>
            <div class = "col"></div>
            <label class="item-input-wrapper col col-66">
              Ano
              <input type="text" placeholder="2022" ng-model="cartao.ano" ng-required="true">
            </label>
        </div>
        <button class="button button-block button-hestia" ng-click="registrar(cartao)">
            Registrar
        </button>
      </div>
    </ion-content>
</ion-view>
