<ion-view view-title="Historicos" >
  <ion-content class="lista-restaurantes" padding="true" class="has-header">
    <div class="card" ng-repeat="historico in historicos">
      <div class="item item-restaurante" ng-click="loadHistorico(historico)">
        <h2>{{historico.restaurante}}<br />
        <sub>{{historico.dataformat}}</sub>
        <sub class"pull-right">Total: R${{historico.total}}</sub></h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
