<ion-view view-title="Pedidos">
  <ion-nav-buttons side="right">
    <button class="button ion-qr-scanner btnQrCode" ng-click="readQRCode()">
    </button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-icon-top">
    <!-- TODO: Trocar icone de location para algum de sobre -->
    <ion-tab title="Cardapio" icon-on="ion-ios-book" icon-off="ion-ios-book-outline">
      <ion-content has-header="true" style="top: 8%;height: 100%;">
        <div ng-repeat="categoria in cardapio.categorias">
          <div class="item-divider"type="item-text-wrap" >
            {{categoria.nome}}
          </div>
          <div ng-repeat="prato in categoria.pratos">
            <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" >
              <label>{{prato.nome}}</label>
              <label class = "pull-right">R$ {{prato.preco}}</label>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
          </div>
        </div>
      </ion-tab>
    <ion-tab title="Conta" icon-on="ion-location" icon-off="ion-location">
      <ion-content has-header="true" style="top: 8%;height: 100%;" class="detalhe-conta" scroll="false">
        <ion-scroll direction="y">
          <div ng-repeat="cont in conta.categorias">
            <div class="item-divider"type="item-text-wrap" >
              {{cont.nome}}
            </div>
            <div ng-repeat="prato in cont.pratos">
              <ion-item class="item-remove-animate item-icon-right pratos-cardapio" type="item-text-wrap" >
                <label>{{prato.nome}}</label>
                <label class = "pull-right">{{prato.quantidade}} x R$ {{prato.preco}}</label>
              </ion-item>
            </div>
          </div>
        </ion-scroll>
        <button class="button button-block total-cardapio">
          Pagar: R$ {{conta.total}}
        </button>
      </ion-content>
    </ion-tab>
    </ion-tabs>
</ion-view>
