<ion-view view-title="Pedidos">
  <ion-nav-buttons side="right">
    <button class="button ion-qr-scanner btnQrCode" ng-click="readQRCode()">
    </button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-icon-top">
    <!-- TODO: Trocar icone de location para algum de sobre -->
    <ion-tab title="Cardapio" icon-on="ion-ios-book" icon-off="ion-ios-book-outline">
      <ion-content has-header="true" style="top: 8%;height: 100%;">
        <p>{{alertText}}</p>
        <ion-list>
          <div ng-repeat="categoria in cardapio.categorias">
            <ion-item class="item-stable" ng-click="toggleGroup(categoria)" ng-class="{active: isGroupShown(categoria)}">
                <i class="icon" ng-class="isGroupShown(categoria) ? 'ion-minus' : 'ion-plus'"></i>
                &nbsp;
                {{categoria.nome}}
            </ion-item>
            <ion-item class="item-accordion" ng-repeat="prato in categoria.pratos" ng-show="isGroupShown(categoria)">
              {{prato.nome}} - R$ {{prato.preco}}
              <button class="icon ion-plus pull-right" ng-click="prato['quantidade'] = prato['quantidade']+1; prepareAddPrato(categoria.nome, prato)"></button>
              <span class="pull-right">{{prato.quantidade == null ? 0 : prato.quantidade }}</span>
              <button class="icon ion-minus pull-right" ng-click="(prato['quantidade']-1 >= 0) ? (prato['quantidade'] != null ? prato['quantidade'] = prato['quantidade']-1 : prato['quantidade'] = 0) : prato['quantidade'] = 0; prepareRmvPrato(categoria.nome, prato)"></button>
            </ion-item>
          </div>
        </ion-list>

      </ion-content>
    </ion-tab>
    <ion-tab title="Conta" icon-on="ion-location" icon-off="ion-location">
      <ion-content has-header="true" style="top: 8%;height: 100%;" class="detalhe-conta" scroll="false">
        <ion-scroll direction="y">
          <div ng-repeat="cont in conta.categorias">
            <div class="item-divider"type="item-text-wrap" >
              {{cont.nome}}
            </div>
            <div ng-repeat="prato in cont.pratos">
              <ion-item class="item-remove-animate item-icon-right pratos-cardapio" type="item-text-wrap" >
                <label>{{prato.nome}}</label>
                <label class = "pull-right">{{prato.quantidade}} x R$ {{prato.preco}}</label>
              </ion-item>
              <ion-item class="item-remove-animate item-icon-right pratos-cardapio" type="item-text-wrap" ng-repeat="acompanhamento in prato.acompanhamentos">
                <label style="padding-left:1em;">{{acompanhamento.nome}}</label>
                <label class = "pull-right">{{acompanhamento.preco}}</label>
              </ion-item>
            </div>
          </div>
        </ion-scroll>
        <button class="button button-full total-cardapio">
          Pagar: R$ {{conta.total}}
        </button>
      </ion-content>
    </ion-tab>
    </ion-tabs>
</ion-view>
