<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content id="login-background">
        <div class="hero no-header flat">
            <div class="content">
                <h1>H E S T I A</h1>
            </div>
        </div>

        <div class="padding">
            <div class="list list list-inset-hestia">
              <label class="item item-input">
                <input type="text" placeholder="E-mail">
              </label>
              <label class="item item-input">
                <input type="text" placeholder="Senha">
              </label>
            </div>
            <button class="button button-block button-hestia" ng-click="login()">
                Entrar
            </button>
            <button class="button button-block button-border icon-left ion-social-facebook button-positive-900">Entrar com Facebook</button>
        </div>
    </ion-content>
</ion-view>
