<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content id="login-background">
        <div class="hero no-header flat">
          <div class="content">
            <h1>H E S T I A</h1>
          </div>
        </div>

        <div class="padding">
            <div class="list list list-inset-hestia">
              <label class="item item-input">
                <input type="text" placeholder="E-mail" ng-model="email">
              </label>
              <label class="item item-input">
                <input type="password" placeholder="Senha" ng-model="password">
              </label>
            </div>
            <button class="button button-block button-hestia-disabled" ng-click="login(email,password)">
                Entrar
            </button>
            <button class="button button-block button-border icon-left ion-social-facebook button-positive-900" ng-click="loginFacebook()">
                Entrar com Facebook
            </button>
            <div id="btnRegistrar" ng-click="registrar()">
                Não tem conta? Registre-se
            </div>
        </div>
    </ion-content>
</ion-view>
