<ion-view view-title="Mapa" id="mapa">
  <ion-content padding="true" class="has-header">
    <div id="cameraTabDefaultPage-button-bar1" class="button-bar">
      <button id="cameraTabDefaultPage-button4" class="button button-positive  button-block">1</button>
      <button id="cameraTabDefaultPage-button5" class="button button-positive  button-block">2</button>
      <button id="cameraTabDefaultPage-button6" class="button button-positive  button-block">3</button>
    </div>
  </ion-content>
</ion-view>
