<ion-view view-title="Perfil">
  <ion-content>
      <div class="item-divider">
        Dados Pessoais
      </div>
      <div class="item item-avatar">
        <img src="img/ben.png">
        <h2>{{user.nome}} {{user.sobrenome}}</h2>
        <p><a ng-click="editarCadastro()">Editar cadastro</a></p>
      </div>
      <div class="item item-icon-right">
        <i class="icon ion-email"></i>
        <h2>{{user.email}}</h2>
      </div>
      <div class="item-divider">
        Cartões Cadastrados
      </div>
      <div class="item item-icon-right" ng-repeat="cartao in user.cards">
        <i class="icon ion-card"></i>
        <label><b>{{cartao.nome}} ...</b><label class= "pull-right">{{cartao.numero}}</label></label>
      </div>
      <a class="item item-icon-right" href="#/app/cartao">
        <i class="icon ion-plus"></i>
        <h2>Adicionar novo cartão</h2>
      </a>
  </ion-content>
</ion-view>
