<ion-view view-title="Editar Perfil">
    <ion-content>
      <button class="button button-block button-stable item-avatar">
        <img src="img/profile.jpg">
        Trocar foto
      </button>
      <div class="padding">
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
            <input type="text" placeholder="João" ng-model="user.nome" ng-required="true">
            </label>
          </div>
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
            <input type="text" placeholder="da Silva" ng-model="user.sobrenome" ng-required="true">
            </label>
          </div>
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
            <input type="email" placeholder="joaodasilva@hestia.br" ng-model="user.email" ng-required="true">
            </label>
          </div>
          <div class="item item-input-inset">
            <label class="item-input-wrapper col col-50">
              <input type="password" placeholder="********" ng-model="password" ng-required="true">
            </label>
            <button class="button button-small button-stable col col-50">
                <label><p>Trocar</p></label>
            </button>
        </div>
        <button class="button button-block button-hestia" ng-click="atualizar(user)">
            Atualizar
        </button>
      </div>
    </ion-content>
</ion-view>
