<ion-view title="Tabs Controller" id="restaurantesDetail">
  <ion-tabs class="tabs-hestia tabs-icon-top" id="tabsController-tabs1">
      <ion-tab title="Cardapio" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" href="#/restaurantesDetail/cardapio" id="tabsController-tab1">
        <ion-nav-view name="Cardapio">
        </ion-nav-view>
      </ion-tab>
    <ion-tab title="Mapa" icon-on="ion-location" icon-off="ion-location" href="#/restaurantesDetail/mapa" id="tabsController-tab1">
      <ion-nav-view name="Mapa"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Avaliações"icon-on="ion-ios-star" icon-off="ion-ios-star"href="#/restaurantesDetail/avaliacoes" id="tabsController-tab2">
      <ion-nav-view name="Avaliacoes"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
