/* Empty. Add your own CSS if you like */
/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/hestia-logo-login.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

#login-background{
    background-color:#C84C00;/*rgba(255,128,85,1); */
}

.content h1{
    margin-top: -4em;
    color: white;
}

.button-hestia{
    background-color: #C84C00;
    color: white;
}

.button-hestia-disabled{
    background-color: rgba(78,30,0,0.2);
}

.list-inset-hestia{
    margin: 0 !important;
    background-color: white;

}
.list-inset-hestia label{
    border-bottom: 1px solid #C84C00 !important;
}

#btnRegistrar{
    width: 100% !important;
    text-align: center;
    font-weight: bold;
    color:rgb(220,220,220);
}

/*Registrar*/
.form-registrar label{
    border-bottom: 1px solid grey !important;
}

/*Menu */
.menu {
    background-color: #C84C00 !important;
}

.menu ion-item:first-child{
    height: 6em;
    background-color: rgba(78,30,0,0.2);
    font-size: 1em;
}
.menu ion-item:first-child a{
    padding-left: 5em !important;
}

.menu ion-item{
    color: white;
    font-weight:400;
}
